
.listBlock {
    background-color: blue;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.listBlockName {
    color: rgb(33, 194, 194);
    font-weight: 500;

    padding-left: 5px;
}

.myListBlock {
    background-color: rgb(20, 20, 71);
    width: 100%;
    padding: 10px;
    border-radius: 10px;

    margin-top: 20px;
}